    public @record@ () {}

    /**
     * Creates this record with all values required for insertion.  Any nullable or default values
     * can be filled in before insertion.
     */
    public @record@ (@argList@)
    {@assignments@
    }
